src/main/resources/templates/spring-security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="http">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="custom-filter">
					<xs:complexType>
						<xs:attribute name="ref" use="required" />
						<xs:attribute name="before" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bean">
		<xs:complexType>
			<xs:attribute name="id" use="required" />
			<xs:attribute name="class" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>